Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY salary DESC) AS SNo, emp_no,
salary, full_name FROM WORKER) AS new_table
WHERE new_table.SNo = 5;

Q-20. Write an SQL query to fetch the list of employees with the same salary.

SELECT w1.emp_no, w1.full_name, w1.first_name, w1.last_name, w1.department, w1.salary, w1.email, w1.joining_date
FROM WORKER w1
INNER JOIN WORKER w2
ON w1.salary = w2.salary;